<?xml version="1.0" encoding="UTF-8"?>
<settings
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
	xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<localRepository>${user.home}/.m2/ceva/repository</localRepository>
	<mirrors>
		<mirror>
			<mirrorOf>central</mirrorOf>
			<name>central</name>
			<url>https://artifactory.logistics.corp/artifactory/libs-release</url>
			<id>central</id>
		</mirror>
	</mirrors>
	<profiles>
		<profile>
			<repositories>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
					<id>central</id>
					<url>https://artifactory.logistics.corp/artifactory/libs-release</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>false</enabled>
					</releases>
					<id>ceva-snapshots</id>
					<url>https://artifactory.logistics.corp/artifactory/libs-snapshot</url>
				</repository>
				<repository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
					<id>ceva-central</id>
					<url>https://artifactory.logistics.corp/artifactory/libs-release</url>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
					<id>central</id>
					<name>ceva-plugins-release</name>
					<url>https://artifactory.logistics.corp/artifactory/plugins-release</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
					<releases>
						<enabled>true</enabled>
					</releases>
					<id>ceva-central</id>
					<name>ceva-plugins-release</name>
					<url>https://artifactory.logistics.corp/artifactory/plugins-release</url>
				</pluginRepository>
				<pluginRepository>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
					<releases>
						<enabled>false</enabled>
					</releases>
					<id>ceva-snapshots</id>
					<name>ceva-plugins-snapshot</name>
					<url>https://artifactory.logistics.corp/artifactory/plugins-snapshot</url>
				</pluginRepository>
			</pluginRepositories>
			<id>artifactory</id>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>artifactory</activeProfile>
	</activeProfiles>
</settings>
